---
import Card from '../components/card/Card';
import { Wrapper } from '../components/wrapper.css';
import '../styles/_index.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Wrapper>
      <h1>Astro</h1>
      <Card client:load />
    </Wrapper>
  </body>
</html>
